

:root {
  --backgroundNav:rgba(247, 98, 98, .7);
}
body{
  margin:0;
  padding:0;
}

*,*::before, *::after {
  box-sizing: border-box;
}


/* Navagation style */

header{
  background-color: var(--backgroundNav);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}


nav{
  position: absolute;
  text-align: left;
  top: 100%;
  left:0;
  width: 100%;
  background: var(--backgroundNav);
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul{
  margin:0;
  padding:0;
  list-style: none;

}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;

}

nav a{
  color:black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
}

nav a:hover{
  color:white;
}


.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items:center;
}


.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after{
  display:block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after{
  content:'';
  position: absolute;
}

.nav-toggle-label span::before{
  bottom: 7px;
}

.nav-toggle-label span::after{
  top: 7px;
}


.nav-toggle:checked ~ nav a{
  opacity: 1;
}
